/* Add here all your css styles (customizations) */

// Variables
@import "custom.variables";

// Mixins
@import "custom.mixins";

// Other styling

.service-name {
	//color: $g-color-secondary;
	text-shadow:
			-1px -1px 2px rgba(255, 255, 255, 1),
			1px -1px 2px rgba(255, 255, 255, 1),
			-1px 1px 2px rgba(255, 255, 255, 1),
			1px 1px 2px rgba(255, 255, 255, 1);
}

p {
	color: #89949b;
}

.js-carousel .u-arrow-v1 {
	margin-top: -160px;
}

.js-carousel .js-prev {
	margin-left: -15px;
}

.js-carousel .js-next {
	margin-right: -15px;
}

.reference-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.reference-wrapper > img {
	z-index: 1;
}

.reference-wrapper-laptop > img {
	width: 290px;
}

.reference-wrapper-phone > img {
	width: 98px;
}

.reference-screen {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
}

.reference-wrapper-laptop .reference-screen {
	width: 220px;
	height: 140px;
	transform: translate(calc(-50%), calc(-50% - 5px));
}

.reference-wrapper-phone .reference-screen {
	width: 63px;
	height: 136px;
	transform: translate(calc(-50%), calc(-50% - 2px));
}

.reference-screen img {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

a.g-color-text[target="_blank"]:before {
	font-family: FontAwesome;
	content: "\f08e";
	margin-right: 6px;
}

a.g-color-text:not([target="_blank"]):before {
	font-family: FontAwesome;
	content: "\f063";
	margin-right: 6px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.reference-wrapper-laptop > img {
		width: 220px;
	}

	.reference-wrapper-phone > img {
		width: 75px;
	}

	.reference-wrapper-laptop .reference-screen {
		width: 166px;
		height: 107px;
		transform: translate(calc(-50%), calc(-50% - 3px));
	}

	.reference-wrapper-phone .reference-screen {
		width: 49px;
		height: 104px;
		transform: translate(calc(-50%), calc(-50% - 3px));
	}

	.js-carousel .u-arrow-v1 {
		margin-top: 0px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.reference-wrapper-laptop > img {
		width: 320px;
	}

	.reference-wrapper-phone > img {
		width: 109px;
	}

	.reference-wrapper-laptop .reference-screen {
		width: 242px;
		height: 155px;
		transform: translate(calc(-50%), calc(-50% - 4px));
	}

	.reference-wrapper-phone .reference-screen {
		width: 71px;
		height: 151px;
		transform: translate(calc(-50% + 1px), calc(-50% - 3px));
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.reference-wrapper-laptop > img {
		width: 340px;
	}

	.reference-wrapper-phone > img {
		width: 115px;
	}

	.reference-wrapper-laptop .reference-screen {
		width: 258px;
		height: 162px;
		transform: translate(calc(-50%), calc(-50% - 6px));
	}

	.reference-wrapper-phone .reference-screen {
		width: 75px;
		height: 161px;
		transform: translate(calc(-50% + 1px), calc(-50% - 3px));
	}

	.js-carousel .js-prev {
		margin-left: 40px;
	}

	.js-carousel .js-next {
		margin-right: 80px;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.js-carousel .js-prev {
		margin-left: 60px;
	}

	.js-carousel .js-next {
		margin-right: 100px;
	}
}